/* ---------------------------- NET ----------------------------- */

.net {
    top: 0;
    left: 0;
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 100vh;
}

/* ------------------------------ HEADER --------------------------------- */

.content {
    top: 0;
    left: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
    justify-self: center;
    align-self: center;
}

.p-cont {
    height: 4rem;
}

.btn-project {
    width: 12rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 2rem;
    background: transparent;
    box-shadow: 
    6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 0 white,
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55),
    inset 0 0 0 0 white;
    transition-duration: 0.3s;
}

.btn-project > p {
    display: inline;
    font-size: 1.2rem;
    margin-right: 10px;
    color: rgb(214, 66, 91);
}

.btn-project > i {
    color: rgb(58, 58, 58);
    transition-duration: 0.3s;
    font-size: 1.2rem;
}

.btn-project:hover {
    width: 14rem;
    height: 3rem;
}

.btn-project:hover i {
    transform: rotate(-270deg);
}

.title {
    font-size: 3rem;
    font-weight: bolder;
}

strong {
    /* color: #08fdd8; */
    color: rgb(255, 42, 131);
}

.strong-title {
    color: rgb(255, 27, 95);
}

/* ------------------------------ TAGCLOUD ------------------------------ */

.tagcloud {
    color: rgb(255, 255, 255);
}
.tagcloud--item {
    cursor: default;
}
.tagcloud--item:hover {
    font-size: 1.2rem;
    cursor: default;
    color: rgb(255, 27, 95);
}

/* ------------------------------------- ABOUT -------------------------------------- */

.about { 
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(29, 29, 29);
}

.about-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.about-left {
    width: 32rem;
    margin-right: 3rem;
}

.about-left-title > h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(243, 243, 243);
    margin: 0;
}

.line {
    margin: 2rem 0 4rem 0;
    display: block;
    width: 5rem;
    height: 0.5rem;
    background-color: white;
}

#ui {
    text-decoration: none;
    color: rgb(245, 248, 72);
}

.about-left-content > p{
    color: rgb(241, 241, 241);
    text-align: justify;
}

.about-left-links {
    height: 2rem;
    margin-top: 2rem;;
    display: flex;
    flex-direction: row;
}

.medsos-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    margin: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}

.medsos-link:hover > i {
    font-size: 1.8rem;
    color: rgb(255, 27, 95);
}

.medsos-link > i {
    transition: all 0.2s ease-in-out;
    font-size: 1.5rem;
    color: white;
}

/* ------------------------------------- NEUMOS ------------------------------------- */

.neumos {
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #ececec;
}

.neumos-title {
    padding: 5rem 0 2rem 0;
}

.neumos-title h1 {
    font-size: 2rem;
    text-align: center;
}

.project-container {
    padding-top: 1rem;
    margin: 0 auto;
    width: 64%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.neumo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neumo {
    width: 20rem;
    height: 4rem;
    margin: 1rem 1rem;
    border-radius: 10px;
    cursor: default;
}

.neumo:hover p {
    color: rgb(214, 66, 91);
}

.neumo-project > div {
    width: auto;
    height: auto;
}

.neumo-project {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.neumo-project:hover img {
    display: inline;
}

.project-display {
    margin: 1rem 2rem;
    /* width: 28rem; */
    min-width: 34rem;
    height: 28rem;
}

.project-display img {
    min-width: 20rem;
    height: 30rem;
}

/* ----------------------- CONTACT ---------------------------- */

.contact {
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.contact-content {
    background-color: #eeeeee;
    padding: 5rem 2rem;
    margin: 0 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    box-shadow: 
    13px 13px 20px #000000,
    -13px -13px 20px #353535;
    width: 90%;
    min-height: 80%;
}

.contact-left {
    display: flex;
    flex-direction: column;
}

.contact-left-title {
    /* text-align: center; */
    margin: 4rem 0 2rem 1.5rem;
}

.contact-left-title > h1 {
    font-size: 3rem;
}

.contact-left-title > h2 {
    color: rgb(214, 66, 91);
}

.contact-left-forms > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > * {
    margin: 0.5rem;
}

form > input,textarea {
    width: 30rem;
    height: 0.5rem;
    outline:none;
    border: none;
    background: none;
    font-size: 1rem;
    color: rgb(109, 108, 108);
    padding:20px 10px 20px 24px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

textarea {
    height: 5rem;
}

.neumo-submit {
    width: 32rem;
    height: 3rem;
    background-color: rgb(214, 66, 91);
    border-radius: 20px;
    font-size: 1.2rem;
}

.neumo-submit > p {
    color: whitesmoke;
}

.contact-right {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
}

.contact-right-map {
    width: 28rem;
    height: 30rem;
    border-radius: 2rem;
    box-shadow: 
    6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 0 white,
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55),
    inset 0 0 0 0 white;
}

/* ----------------------- BREAKPOINTS ------------------------- */

@media (max-width: 1200px) {
}

@media (max-width: 992px){
    .about-content {
        flex-direction: column;
        padding: 6rem 0;
    }
    .about-left {
        margin-bottom: 3rem;
        margin-right: 0;
        width: 100%;
    }
    .tagcloud {
        width: 100% !important;
    }
    .project-container {
        flex-direction: column;
    }
    .neumos {
        padding-bottom: 4rem;
    }
    .neumo-project {
        width:34rem;
    }
    .contact {
        padding: 5rem 0;
    }
    .contact-content {
        flex-direction: column;
    }
    .contact-left-title {
        margin-left: 0;
        text-align: center;
    }
    .contact-right {
        margin: 2rem 0 3rem 0;
        width: 100%;
    }
    .contact-right-map {
        width: 36rem;
        height: 24rem;
    }
}

@media (max-width: 768px){
    .title {
        font-size: 1.4rem;
    }
    .btn-project {
        width: 10rem;
        height: 3rem;
    }
    .btn-project > a {
        font-size: 1rem;
    }
    .header {
        margin-bottom: 12rem;
    }
    .neumos-title > h1 {
        font-size: 1.4rem;
    }
    .neumo-project {
        width: 20rem;
    }
    .project-display {
        min-width: 2rem;
    }
    /* ---------------- */
    .line {
        height: 0.25rem;
        margin: 2rem auto;
    }
    .about-left-title{
        text-align: center;
    }
    .about-left-content > p{
        text-align: center;
        font-size: 1rem;
    }
    .about-left-title > h1 {
        font-size: 2rem;
    }
    .about-left-links {
        display: flex;
        justify-content: center;
    }
    .contact-left-title > h1 {
        font-size: 2rem;
    }
    .contact-left-title > h2 {
        font-size: 1rem;
    }
    .contact-content {
        width: 70%;
    }
    input, textarea, .neumo-submit {
        width: 80% !important;
    }
    .contact-right-map {
        height: 14rem;
    }
}

/* ------------------------------------------------------- */


    