/* body {
    background-color: #e6e6e6;
    font-family: 'Ubuntu', sans-serif;
} */

.neumo {
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    box-shadow: 
    6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 0 white,
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55),
    inset 0 0 0 0 white;
    transition: all 0.2s ease-in-out;
}

.neumo:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: 
    0 0 0 0 white,
    inset 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    0 0 0 0 white,
    inset -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
}

.neumo > * {
    transition: 0.2s ease-in-out;
    color: rgb(56, 56, 56);
    clip: auto;
}

.neumo:hover > * {
    padding-left: 5px;
    padding-top: 5px;
}

.neumo:active {
    box-shadow: 
    0 0 0 0 white,
    inset 14px 14px 20px 0 rgba(0, 0, 0, 0.2),
    0 0 0 0 white,
    inset -14px -14px 24px 0 rgba(255, 255, 255, 0.55);
}

.neumo:active > * {
    padding-left: 10px;
    padding-top: 10px;
}