* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

button:focus {
    outline: none;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 5rem;
    font-weight: bold;
}

.nav-links {
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin: 2rem;
    align-self: center;
    list-style: none;
}

.logo, .nav-link {
    align-self: center;
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}

.nav-link:hover {
    font-size: 1.3rem;
    cursor: pointer;
    color: #D6425B;
}

.gototop {
    display: none;
    bottom: 5rem;
    right: 5rem;
    position: fixed;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: #df546b;
    font-size: 1.4rem;
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-out;
}

.fa-arrow-up {
    color: whitesmoke;
    transition-duration: 0.4s;
}

.gototop:hover {
    width: 3.4rem;
    height: 3.4rem;
}

.gototop:hover > i {
    color: rgb(34, 34, 34);
    transform: rotateY(180deg);
}

@media (max-width: 680px){
    .navbar {
        height: 3rem;
        flex-direction: column;
    }
    .logo {
        margin: 1rem 0;
    }
    .nav-links {
        margin: 0;
        padding: 0;
        justify-content: space-around;
        background-color: rgb(255, 255, 255, 0.6);
    }
    .nav-item {
        margin: 1rem;
    }
    .gototop {
        bottom: 2rem;
        right: 2rem;
    }
}

.block {
    display: block;
}

/* -------------------------------------------------------------- */

.transition {
    position:fixed;
    height:100vh;
    width:0;
    background:#d6d6d6;
    transform: skewX(-5deg) translateX(-50px);
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
    z-index: 100;
  }
  
  .cta {
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:uppercase;
    background:#202020;
    color:#eaeaea;
    box-sizing:border-box;
    margin-top:20px;
    padding:10px 40px;
  }
  
.anim-trans {
    animation: anim 4s ease-in-out;
    }
    
  @keyframes anim{
       0% { }
       20%  { z-index:11;\transform: skewX(5deg) translateX(-100%); }
       40%   { transform: skewX(0deg) translateX(0);
   width:100%; z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
       100%   { transform: skewX(3deg) translateX(0);
   width:100%;z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
}