{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Ardiaf Rizky's</title>
    {% block head %}
    {% endblock head %}
</head>
<body>
{% comment %} navigation bar {% endcomment %}
    <nav class='navbar'>
        <a href="#" class="logo">ARDIAF RIZKY'S</a>
        <ul class="nav-links">
            <li class="nav-item">
                <a onclick="scrollToThe('#myprojects')" class="nav-link" id='btn-project'>Project</a>
            </li>
            <li class="nav-item">
                <a onclick="scrollToThe('.about')" class="nav-link" id='btn-about'>About</a>
            </li>
            <li class="nav-item">
                <a onclick="scrollToThe('.contact')" id='btn-contact' class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
    
    <div class="transition"></div>
    <div class="main">
        {% block body %}
        {% endblock body %}
    </div>
    <button class="gototop" onclick='getToTop()'><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

    <script src={% static 'base.js' %}></script>
</body>
</html>