{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'sandbox/neumorphicButton/neumorphicButton.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage.css' %}">
    <title>Ardiaf Rizky's</title>
{% endblock head %}

{% block body %}
    <div class="net"></div>
    <div class="content">
        <div class="header">
            <h1 class="title">Hey, You Found My Website!<br>Welcome, I'm <strong class='strong-title'>Ardiaf Rizky</strong>.</h1>
            <div class="p-cont">
                <button onclick='scrollToThe(".neumos")' class='btn-project'>
                    <p>My Projects</p>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <section class="about">
        <div class="about-content">
            <div class="about-left">
                <div class="about-left-title">
                    <h1>My <strong class='strong-title'>Skills</strong>?</h1>
                    <span class='line'></span>
                </div>
                <div class="about-left-content">
                    <p>I'm an Information System undergraduate who loves to code and design.</p>
                    <p>
                        My main area of my expertise is <strong>front-end web development</strong> and <strong>UI/UX</strong>. I have an experience on using
                        several language and tools such as: HTML5, CSS, Sass, JS, React.js, Bootstrap4, etc.
                    </p>
                    <p>
                        But I also excels at <strong>back-end engineering</strong> and have an experience on using several tools and languages such as Django,
                        Python, Node.js, Flutter, Dart, PostgresQL, etc.
                    </p>
                    <p> 
                        Visit links below to get to know me better.
                    </p>
                </div>
                <div class="about-left-links">
                    <a href="https://www.linkedin.com/in/ardiaf-rizky-aula-944560174/" target="_blank" class="medsos-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/Ardiafrizky" target="_blank" class="medsos-link">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://gitlab.com/ArdiafRizky" target="_blank" class="medsos-link">
                        <i class="fab fa-gitlab"></i>
                    </a>
                    <a href="https://www.instagram.com/ardiafrizky24/?hl=en" target="_blank" class="medsos-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="about-right">
                <div class="cloud-tag"></div>
            </div>
        </div>
    </section>

    <section class='neumos' id='myprojects'>
        <div class="neumos-title">
            <h1>Some of My <strong class='strong-title'>Projects</strong>.</h1>
        </div>
        <div class="project-container">
            <div class="neumo project-display">
                <div>
                    <img id='display-img' src={% static 'assets/display.png' %} alt="project-displays">
                </div>
            </div>
            <div class="neumo-container">
                <a class='neumo neumo-project' href="https://guru-guru.herokuapp.com" target="_blank">
                        <p class='project-name'>Guru-guru</p>
                </a>
                <a class='neumo neumo-project' href="https://beranisehat.com" target="_blank">
                        <p class='project-name'>BeraniSehat</p>
                </a>
                <a class='neumo neumo-project' href="https://medikago-j37.herokuapp.com" target="_blank">
                        <p class='project-name'>Medikago</p>
                </a>
                <a class='neumo neumo-project' href="#" target="_blank">
                        <p class='project-name'>PPW Stories</p>
                </a>
                <a class='neumo neumo-project' href="#" target="_blank">
                        <p class='project-name'>Element Sandbox</p>
                </a>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="contact-content">
            <div class="contact-left">
                <div class="contact-left-title">
                    <h1>Get In Touch.</h1>
                    <h2>ardiafrizky24@gmail.com</h2>
                </div>
                <div class="contact-left-forms">
                    <form action="/sendmail" method="POST" enctype='text/plain'>
                        <input type="text" id="contact-name" name="name" placeholder="Your Name">
                        </input>
                        <input type="email" id="contact-email" name="email" placeholder='Your Email'>
                        <textarea name="message" id="contact-message" placeholder="Your Message"></textarea>
                        <button class='neumo neumo-submit' type="submit"><p>Send</p></button>
                    </form>
                </div>
            </div>
            <div class="contact-right">
                <div class="contact-right-map"></div>
            </div>
        </div>
    </section>

    {% comment %} vanta.net.js Scripts {% endcomment %}
    <script src={% static "sandbox/vantaNet/three.r95.min.js" %}></script>
    <script src={% static "sandbox/vantaNet/vanta.net.min.js" %}></script>
    <script src={% static "sandbox/vantaNet/vantaNet.js" %}></script>
    <script src={% static 'sandbox/tagCloud/TagCloud.min.js' %}></script>
    <script src={% static 'landingPage.js' %}></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzug-Vc2aM3vyEfVP8xtxME9TfXuGPzwM&callback=initMap"></script>
{% endblock body %}
