{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sandbox/neumorphicButton.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class='neumo'>
        <div>
            <p>This is Sandbox</p>
        </div>
    </div>
</body>
</html>