{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'sandbox/neumorphicButton/neumorphicButton.css' %}">
    <link rel="stylesheet" href="{% static 'sandbox/vantaNet/vantaNet.css' %}">
    <title>Vanta Net</title>
{% endblock head %}

{% block body %}
    <div class="net"></div>
    <div class="content">
        <div class="header">
            <h1 class="title">Hey, You Found My Website!<br>Welcome, I'm <strong>Ardiaf Rizky</strong>.</h1>
            <button class='btn-project'>
                <a href="#myprojects">My Projects</a>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <section class='neumos' id='myprojects'>
        <div class="neumos-title">
            <h1>Some of My <strong>Projects</strong>.</h1>
        </div>
        <div class="project-container">
            <div class="neumo project-display"></div>
            <div class="neumo-container">
                <div class="neumo neumo-project">
                    <p>Guru-guru</p>
                </div>
                <div class="neumo neumo-project">
                    <p>Beranisehat</p>
                </div>
                <div class="neumo neumo-project">
                    <p>Medikago</p>
                </div>
                <div class="neumo neumo-project">
                    <p>PPW's Stories</p>
                </div>
            </div>
        </div>
    </section>

    {% comment %} <section class='neumos'>
        <div class="neumos-container">
            <div class="neumos-title">
                <h1>Some of My <strong>Projects</strong>.</h1>
            </div>
            <div class="neumo-container">
                <div class="neumo">
                    <img src={% static 'assets/odin username.png' %} alt="">
                    <p>this</p>
                </div>
                <div class="neumo">
                    <p>this</p>
                </div>
                <div class="neumo">
                    <p>this</p>
                </div>
                <div class="neumo">
                    <p>this</p>
                </div>
                <div class="neumo">
                    <p>this</p>
                </div>
                <div class="neumo">
                    <p>this</p>
                </div>
            </div>
    </section> {% endcomment %}

    {% comment %} vanta.net.js Scripts {% endcomment %}
    <script src={% static "sandbox/vantaNet/three.r95.min.js" %}></script>
    <script src={% static "sandbox/vantaNet/vanta.net.min.js" %}></script>
    <script src={% static "sandbox/vantaNet/vantaNet.js" %}></script>
{% endblock body %}
