body {
    margin: 0;
    padding: 0;
}

.net {
    top: 0;
    left: 0;
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.content {
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 10rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
    margin-bottom: 21rem;
}

.btn-project {
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    background: transparent;
    box-shadow: 
    6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 0 white,
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55),
    inset 0 0 0 0 white;
    transition-duration: 0.3s;
}

.btn-project > a {
    font-size: 1.2rem;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(214, 66, 91);
}

.btn-project > i {
    color: rgb(58, 58, 58);
    transition-duration: 0.3s;
    font-size: 1.2rem;
}

.btn-project:hover {
    width: 14rem;
    height: 3rem;
}

.btn-project:hover i {
    transform: rotate(-270deg);
}

.title {
    font-size: 3rem;
    font-weight: 600;
}

strong {
    color: rgb(214, 66, 91);
}

.neumos {
    margin: 0;
    padding-bottom: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ececec;
}

.neumos-title {
    padding-top: 3rem;
}

.neumos-title h1 {
    font-size: 2rem;
    text-align: center;
}

.project-container {
    padding-top: 3rem;
    margin: 0 auto;
    width: 64%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.neumo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neumo {
    width: 20rem;
    height: 4rem;
    margin: 1rem 1rem;
    border-radius: 10px;
    cursor: default;
}

.neumo:hover p {
    color: rgb(214, 66, 91);
}

.neumo-project > img {
    display: none;
    width: 120px;
    height: auto;
    transition-duration: display 0.3s;
}

.neumo-project:hover img {
    display: inline;
}

.project-display {
    margin: 1rem 2rem;
    min-width: 18rem;
    height: 24rem;
}

@media (max-width: 840px){
    .project-container {
        flex-direction: column;
    }
}

@media (max-width: 680px){
    .title {
        font-size: 1.4rem;
    }
    .btn-project {
        width: 10rem;
        height: 3rem;
    }
    .btn-project > a {
        font-size: 1rem;
    }
    .header {
        margin-bottom: 12rem;
    }
    .neumos-title > h1 {
        font-size: 1.4rem;
    }
}